<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {{ books.title }}
    </title>
</head>
<body>
    <h1>{{ books.title }}</h1>
    <h2>{{ books.authors.first_name }} {{ books.authors.last_name }}</h2>
    <h3>{{ books.publication_year }}</h3>
    <h4>{{ books.summary }}</h4>
    <form method="post">
        {% csrf_token %}
        <button type="submit">Удалить книгу</button>
    </form>
</body>
</html>